/*Seleccionakois la fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azul-oscuro: #0033CC; /*   var(--azul-oscuro)*/
    --azul-claro: #96bfe9; /*   var(--azul-claro*/
    --texto-parrafo:#565656; /*  var(--texto-parrafo)   */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    /*Foto de <a href="https://unsplash.com/es/@chen93?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Chen</a> en <a href="https://unsplash.com/es/fotos/un-escritorio-con-una-computadora-y-altavoces-Qtu3hGinLF8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  */
    background: linear-gradient(rgba(0, 51, 204, .7), rgba(0, 51, 204, .7)), url("../img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 51, 204, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: var(--azul-claro);
}

#inicio .contenido header .contenido-header img{
    width: 5%;
} 

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #ff5850;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: var(--azul-claro);
}

#inicio .contenido header .contenido-header .seleccionado{
    color: var(--azul-claro);
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 30px;
    color: #ff5000;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 850px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: var(--azul-claro);
}

#icono-nav {
    color: #fff;
    display: none;
}

/*Estilos para la sección "sobre mi"*/
#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-right: 10px;
}

#sobremi .contenedor-foto img {
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h1 span {
    color: var(--azul-claro);
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color:var(--texto-parrafo);
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: var(--azul-claro);
    color: #fff;
}

/*Sección servicios*/
#servicios {
    padding: 100px 15px;
    text-align: center;
    background-color: var(--azul-claro);
}

#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: var(--azul-oscuro);
    text-decoration-thickness: 5px;
}

#servicios .fila {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 30px auto;
}

#servicios .fila .servicio {
    max-width: 250px;
    width: 33%;
    background-color: #fff;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

#servicios .fila .servicio hr {
    width: 30%;
    margin: auto;
    color: #000;
    margin-bottom: 25px;
}

#servicios .fila .servicio span img {
    width: 100px;
    height: auto;
}

#servicios .fila .servicio p {
    font-size: 14px;
    line-height: 22px;
    color: var(--texto-parrafo);
}

/*Estilos para sección de portfolio*/


#portfolio {
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#portfolio .fila {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#portfolio .subtitulos {
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
}

#portfolio .fila .proyecto {
    max-width: 450PX;
    border: 1px 2solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

#portfolio .fila .proyecto img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#portfolio .fila .proyecto img:hover {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    font-size: 10px;
    position: absolute;
    left: 0;
    background-color: rgba(0, 51, 204, .8);
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#portfolio .fila .proyecto:hover .info {
    opacity: 1;
    bottom: 0;
}

/*Estilos para botones de proyectos*/
.enlaces-proyectos{
    display: flex;
    justify-content: space-around;
}
.enlaces-proyectos a {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .enlaces-proyectos a:hover {
    background-color: var(--azul-claro);
  }
  
 
/*Sección de contacto*/
#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
}

#contacto {
    text-align: center;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--azul-claro);
    box-shadow: 5px 5px 10px, -5px -5px 10px #8a8a8a;
}

.info-contacto {
    margin-top: 20px;
}

.info-contacto p {
    margin: 10px 0;
}

.info-contacto a {
    color: black;
    text-decoration: none;
}

.info-contacto a:hover {
    text-decoration: underline;
}

/* Estilos footer*/
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    margin: 10px auto;

}
footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
  }
  
  .redes a img{
    width: 30px;
    height: auto  ;
  }
  

/***************************** Sercion estilos responsivos ******************************/
@media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 49px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.reponsive ul li{
        margin: 5px 0;
    }

    #icono-nav{
        display: block;
    }

    #inicio .contenido .presentacion h2{
        font-size: 20px;
    }

    #sobremi{
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img {
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }

    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }

    #servicios{
        padding: 50px 15px;
    }

    #servicios .fila{
        display: block;
    }

    #servicios .fila .servicio{
        margin: 10px auto;
        width: 100%;
    }

   
    #portfolio{
        padding: 50px 0;
    }

    #portfolio .fila{
        display: block;
    }

    #portfolio .fila .proyecto{
        margin: 10px auto;
    }

   
}