@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    /*Colores*/
    --gris-oscuro: #666666;
    --gris-claro: #999999;
    --azul-oscuro: #0D2238;
    --azul-menos-ocuro: #1C3F95;
    --azul-claro: #6FC3DF;
    --azul-menos-claro: #4F86EC;
    --texto-verde: greenyellow;


    /*Fuentes*/
    --exo: "Exo", sans-serif;
    --chakra: "Chakra Petch", sans-serif;

    --bordes: 1px solid var(--texto-verde);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}



#day_pic {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "cabecera cabecera"
        "title multimedia"
        "description multimedia";
    text-align: center;
    color: var(--texto-verde);
    background-color: black;
    font-family: var(--chakra);
}

#cabecera {
    grid-area: cabecera;
    border: var(--bordes);
    margin: 10px;
    padding: 10px;
}

#cabecera h1 {
    font-size: 1.75rem;
    margin: 10px;
}

#cabecera h4 {
    font-size: 1rem;
}

#title{
    grid-area: title;
    text-align: center;
    margin: 10px;   
    padding: 10px;
    font-size: 1.5rem;
    width: 100%;
    height: 30%;
}

#description {
    grid-area: description;
    margin: 20px;   
    padding: 20px;
    width: 100%;
    font-size: 1.5rem;
    text-align: justify;
}

#multimedia {
    grid-area: multimedia;
    margin: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
}



/*Responsivo*/
@media (max-width: 768px) {
    #day_pic {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas:
            "cabecera"
            "title"
            "multimedia"
            "description";
        margin: 10px;
        padding: 10px;
        border:0px;
    }

    #cabecera h1 {
        font-size: 1.50rem;
    }
    
    #cabecera h4 {
        font-size: .75rem;
    }
    
    #title{ 
        font-size: 1rem;
    }
    
    #description {
        width: 100%;
        font-size: 1.25rem;
    }

    #multimedia{
        width: 100%;
        margin:0px; 
        padding:0px;
    }
    #multimedia img{
        width: 100%;
        height: auto;
        margin:0px; 
        padding:0px;
    }

}